@model RainCheckV2.Models.login

@{
    ViewBag.Title = "NewAccount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head{
    <style>
    form div + div {
        margin-top: 1em;
        color: white;
        font-size: medium;
    }

    label {
        display: inline-block;
        width: 150px;
        text-align: right;
    }

    input, textarea {
        font: 1em sans-serif;
        /* To give the same size to all text field */
        width: 300px;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        /* To harmonize the look & feel of text field border */
        border: 1px solid #999;
    }

    .button {
        /* To position the buttons to the same position of the text fields */
        padding-left: 90px; /* same size as the label elements */
    }

    button {
        margin-left: 75px;
        background-color: #ffcccc;
        color: blue;
    }

    #f1 {
        background-color: #b03a2e;
    }

    h2 {
        padding: 2px 2px 2px 2px;
    }

    .cl {
        padding-top: 8px;
    }
</style>
}

<div>
    <h2> Create Your Account Here</h2>
</div>
<div id="id1" class="cl">
    <form id="f1" action="" method="post">
        <div class="cl">
            <label for="males" style="color:white; font-size:medium">Username :</label> <input style="margin-left:10px" id="Text1" value="@TempData.Peek("USN")" name="user_name" type="text" /><br />
            <label for="male"></label> @ViewBag.UN
        </div>
        <div class="cl">
            <label for="male">Password :</label> <input style="margin-left:10px" id="Text1" value="@TempData.Peek("PSW")" name="password" type="text" /><br />
            <label for="male"></label>@ViewBag.PW
        </div>
        <div id="id2" class="cl">
            <label for="male">Confirm Password:</label> <input style="margin-left:10px" id="Text1" value="@TempData.Peek("CPW")" name="confirms" type="text" /><br />
            <label for="male"></label> @ViewBag.CPW
        </div>
        <div class="button">
            <button id="Submit1" type="submit" style="margin-bottom:9px" value="Previous" name="action:PreviousAccount"> Previous </button> 
            <button id="Submit1" type="submit" style="margin-bottom:9px; margin-left:5px;" value="Submit" name="action:Submit"> Submit </button>
        </div>

        @Html.ValidationSummary()
    </form>
</div>